<div class="boxe">
  <article class="media">
    <figure class="media-left">
      <p class="comment">
        <%= link_to cl_image_tag(comment.user.avatar.key), user_path(comment.user)  unless comment.user.avatar.blank? %>
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= link_to comment.user.name, user_path(comment.user) %></strong>
          <div><%= comment.response %></div>
        </p>
      </div>
    </div>
    <% if (user_signed_in? && (current_user.id == comment.user_id)) %>
       <%= link_to 'Delete', [comment.shot, comment],
                  method: :delete, class: "button is-danger", data: { confirm: 'Are you sure?' } %>
    <% end %>
  </article>
</div>