<%= simple_form_for([@video, @video.comments.build]) do |f| %>
  <%= f.error_notification %>

	<div class="field">
		<div class="control">
			<%= f.input :response, input_html: { class: 'textarea' }, wrapper: false, label: false %>
		</div>
	</div>
	
	<%= f.button :submit, 'Leave a reply', class: 'button is-prime is-small' %>
<% end %>