<% if !user_signed_in? %>

<div>
	<section class="hero video">
        <video controls>
				    <source src="https://res.cloudinary.com/pinoplia/video/upload/v1590417936/panopliaVideo_on6sgd.mp4" type="video/mp4">
  			</video>
	</section>

	<div class="hero is-primaryv">
		<div class="hero-body">
			<div class="container has-text-centered">
		<%= link_to "SIGN UP".html_safe, new_user_registration_path, class: "button is-primary is-large are-large" %>
	    </div>
  	</div>
	</div>

	<section class="hero yellow">
		<div class="hero-body-community">
			<div class="columns is-centered is-desktop">
				<div class="column has-text-centered">
					<%= image_tag 'hand.png', class:"fah"%>
					<p class="title">
						JOIN OUR COMMUNITY
					</p>
					<p class="subtitle">
						Be part of a community where you can showcase yout work<br/>to other artists and find new professional opportunities.
					</p>
				</div>

				<div class="column has-text-centered">
					<%= image_tag 'eye.png', class:"fae"%>
					<p class="title">
						LOOKING FOR AN ARTIST?
					</p>
					<p class="subtitle">
						Panóplia is the go-to place to connect with talented artists<br/>that match the creative needs of your company.
					</p>
				</div>
			</div>
		</div>
	</section>
</div>
<% end %>



