<% if !user_signed_in? %>

<div>
	<section class="hero video">
		<video controls id="hero">
			<source src="https://res.cloudinary.com/pinoplia/video/upload/v1609519432/PANOPLIA_v2_xlyavo.mp4" type="video/mp4">
			</video>
		</section>

		<%# <div class="hero is-form fahvm">
			<div class="hero-body">
				<div class="container has-text-centered">
					<%#= link_to "ENTITY LOOKING FOR AN ARTIST?".html_safe, new_user_registration_path, class: "button is-primarye is-large" %>
					<%#<a class="typeform-share button" href="https://form.typeform.com/to/IcAABoCd" data-mode="popup" style="display:inline-block;text-decoration:none;
					background-color:#9600c8;color:white;cursor:pointer;font-family: Brice-SemiBoldSemiExpanded;line-height: 44px;
					text-align:center;margin:0;height: 42px;padding: 0px 18px;border-radius:5px;max-width:100%;white-space:nowrap;
					overflow:hidden;text-overflow:ellipsis;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;
					font-size: 23px;" target="_blank">LOOKING FOR AN ARTIST?</a>
				</div>
			</div>
		</div> %>

		<section class="hero yellow">
			
			<div class="hero-body-community">
				<div class="columns is-centered is-desktop">
					
					<div class="column has-text-centered">
						<%= image_tag 'hand.png', class:"fah"%>
						<p class="title">
							<%= link_to "JOIN OUR COMMUNITY".html_safe, new_user_registration_path, class:"button is-primarye is-large", alt:"Sign up", name:"Sign up", style:"display:inline-block;text-decoration:none;
					background-color:#9600c8;color:white;cursor:pointer;font-family: Brice-SemiBoldSemiExpanded;line-height: 44px;
					text-align:center;margin:0;height: 42px;padding: 0px 18px;border-radius:5px;max-width:100%;white-space:nowrap;
					overflow:hidden;text-overflow:ellipsis;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;
					font-size: 23px;"%>
						</p>
						<p class="subtitle">
							Be part of a community where you can showcase yout work<br/>to other artists and find new professional opportunities.
						</p>
					</div>

					<div class="column has-text-centered">
						<%= image_tag 'eye.png', class:"fae"%>
						<p class="title">
							<a class="typeform-share button" href="https://form.typeform.com/to/IcAABoCd" data-mode="popup" style="display:inline-block;text-decoration:none;
					background-color:#9600c8;color:white;cursor:pointer;font-family: Brice-SemiBoldSemiExpanded;line-height: 44px;
					text-align:center;margin:0;height: 42px;padding: 0px 18px;border-radius:5px;max-width:100%;white-space:nowrap;
					overflow:hidden;text-overflow:ellipsis;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;
					font-size: 23px;" target="_blank">LOOKING FOR AN ARTIST?</a>
						</p>
						<p class="subtitle">
							Panóplia is the go-to place to connect with talented artists<br/>that match the creative needs of your company.
						</p>
					</div>

				</div>
			</div>
		</section>
	</div>

	
	<% end %>


	<script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>

