<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <h1 class="title is-3">Editing Job</h1>
        <%= render 'form', job: @job %>
      </div>
    </div>
  </div>
</section>
<div class="column">
<%= link_to 'Show', @job %> |
<%= link_to 'Back', jobs_path %>
</div>