<section class="">
    <div class="columns">
      <div class="column hero is-background-roxo is-hidden-touch"></div>
      <div class="column hero is-amarelo-job is-hidden-mobile"></div>
      <div class="column hero is-warning profile">
        <h1 class="post-job">POST A JOB</h1>
        <%= render 'form', job: @job %>
      </div>
    </div>

</section>