<section>
  <div class="columns">
    <div class="column hero is-background-roxo is-hidden-touch"></div>
    <div class="column hero is-amarelo-job is-hidden-mobile"></div>
    <div class="column hero is-warning profile">
      <h1 class="title is-3 pl2">POST A JOB</h1>
      <%= render 'form', job: @job %>

      <div style="display: flex;" class="pl3">
        <%= link_to 'BACK', jobs_path, class:"text optional label mt3" %>
      </div>
    </div>
  </div>

</section>