h3.shot-title.job {
  text-align: left;
	font-family: Brice-BoldSemiCondensed;
	font-size: 1.2rem;
	margin-bottom: -10px;
}
.user-name-job .shot-user-name {
  color: black;
  cursor: pointer;
  text-decoration: none;
	font-family: Brice-SemiBoldSemiCondensed;
	font-size: 15px;
}

.shot-user-name-index {
  color: black;
  cursor: pointer;
  text-decoration: none;
	font-family: Brice-LightSemiCondensed;
	font-size: 14px;
}


.user-name-search {
  color: black;
  cursor: pointer;
  text-decoration: none;
  font-family: Brice-LightSemiCondensed;
}

.shot-job {
	position: relative;
	display: block;
	color: #333 !important;
	.shot-data.job{
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		padding: 5px;
		background: rgba(white, .9);
		cursor: pointer;
		.shot-title {
			font-weight: bold;
		}
		.shot-description {
			font-size: .9rem;
		}
		.shot-time {
			font-size: .8rem;
			padding-top: .1rem;
		}
	}
}

.shot-data.job:hover{
	padding: 0;
}
.hero.yellow .title .Join:hover {
	color: #ff78be;
}

.user-thumb-job {
	display: inline-block;
	img {
		border-radius: 50%;
		height: 45px;
		width: 45px;
		object-fit: cover;
	}
}
.user-thumb-job-view {
	display: block;
	img {
		border-radius: 50%;
		height: 60px;
		width: 60px;
		//object-fit: cover;
	}
}

.user-name-job {
	display: inline-grid;
	position: relative;
	padding-left: 10px;
}



.level-item-search {
	margin: 10px 10px 10px;
	display: inline-flex;
}

.shot-analytics-job {
  text-align: left;
}

.level-item-job {
  align-items: top;
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: left;
}

.level-item-jobz {
  align-items: top;
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: right;
}

.fas.fa-sort-down {
	font-size: 16px;
	color: #9600c8;
	position: absolute;
	padding-top: 2px;
  padding-left: 5px;
}

.level-right.index{
	font-size: 16px;
	display: flex;
}