.shot-container .content,
.shot-container .comments {
  margin-top: 14px;
  padding: 0;
  color: black;
  font-family: Brice-LightSemiCondensed;
}

.description {
  margin-top: 14px;
  padding: 0;
  color: black;
  font-family: Brice-SemiBoldSemiCondensed;
}

.shot-full {
  text-align: center;
  img {
    height: 888px;
    width: 888px;
    object-fit: cover;
  }
}
.video-full {
  text-align: center;
}
.url.iframe  {
  width: 800px;
  height: 600px;
}

.button.is-black.icon:hover {
	background-color:black;;
	color: white;
}
.button.is-black.icon:active {
  background-color: black;
}

.column.is-5.is-offset-1 {
  padding-top: 28px;
}

.user-thumb.shot-show img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.shot-analytics.shot {
  display: flex;
  //align-items: left;
  font-size: 1.2rem;
  bottom: 0rem;
  top: 0rem;
}
.level-item.comments.data.icons{
  padding: 0 45px 0 45px;
  margin-top: 0;
}
.level-item.comments.data{
  // padding: 0 30px 0 30px;
  margin-top: 0;
}
// .level-item.comments.data.video{
//   // padding: 0 20px 0 20px;
//   margin-right: 0.75rem;
//   margin-top: 0;
// }

.shot-contact {
  p.subtitle  {
    margin-bottom: 7px;
    font-size: 1rem;
    color: #9600c8;
    font-family: Brice-SemiBoldSemiCondensed;
  }
}

.shot-wrapper.shot {
  p.subtitle {
    margin-bottom: 0px;
    margin-top: 20px;
    font-size: 1rem;
    color: #9600c8;
    font-family: Brice-SemiBoldSemiCondensed;
  }
}

.comments {
  h3.subtitle {
    color: black;
    font-family: Brice-SemiBoldSemiCondensed;
  }

}

.description {
  font-family: Brice-LightSemiCondensed;
}

.columns:not(.is-desktop) {
  display: flex;
}

.columns.show-page {
  margin-top: 20px;
}
h3.title-title {
  text-align: left;
  font-family: Brice-BoldSemiCondensed;
  font-size: 2rem;
  margin-bottom: -10px;
  color: black;
}

span.by {
  margin-bottom: 0px;
  margin-top: 20px;
  font-size: 1rem;
  color: black;
  font-family: Brice-SemiBoldSemiCondensed;
}
.img-config {
	background-image: image-url("config.png");
	position: relative;
	background-size: cover; 
	background-position: center;
}