.control img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: cover;
}
.user-thumb-avatar img {
  border-radius: 50%;
}

.navbar-item.user img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-bottom: 0.5rem;
  margin-right: 10px;
  object-fit: cover;
}

.navbar-dropdown .navbar-item.x {
  padding-left: 1rem;
  padding-right: 1rem;
}