//buttons

.button {
	font-family: Brice-SemiBoldSemiCondensed;
	font-size: 1.4rem;
	border: 0;
}
.button.is-large {
	font-family: Brice-SemiBoldSemiExpanded;
	color: #0a0a0a;
	line-height: 29px;
}
.button.is-warning {
	background-color: #ffdc00;
}
.button.is-warning:hover, .button.is-warning.is-hovered {
  background-color: #f7d500;
  border-color: transparent;
  color: #fff;
}
.button.is-dark {
  background-color: black;
  border-color: transparent;
  color: white;
}
.button.is-dark:hover {
  background-color: #9600c8;
  border-color: transparent;
  color: white;
}
.button.is-dark[disabled]:hover {
	background-color: #363636;
	border-color: transparent;
	box-shadow: none;
}
.logout {
	padding-left: 1rem;
}

.button.is-primary {
	background-color: #9600c8;
	border-color: transparent;
	color: #fff;
}

.button.is-primarye {
	background-color: #9600c8;
	border-color: transparent;
	color: #fff;
	height: 22px;
	padding-left: 0.7em;
	padding-right: 0.7em;
}
.button.is-primary:hover, .button.is-primary.is-hovered {
	background-color: #ff78be;
	border-color: transparent;
	color: #fff;
}

.button .icon:first-child:not(:last-child) {
  margin-left: calc(-0.25em - 1px);
  margin-right: 0.25em;
}

.has-text-primary {
	color: #ff78be !important;
}
.button.is-success {
		background-color: #32DC64;
}
// .buttons .button:not(:last-child) {
//   margin-right: 2rem;
// }
.button.is-roxo {
	background-color: #9600c8;
	color: white;
}
.button.is-roxo:hover {
	background-color: black;
	color: white
}

.button.is-roxo.outlined.icon {
	padding: 2px 66px;
  background-color: transparent;
  border: solid 2px #9600c8;
  color: #9600c8;
  height: fit-content;
}
.button.is-roxo.outlined.icon:hover {
	background-color: #9600c8;
	color: white;
}
.button.is-dark.outlined {
  background-color: black;
  border-color: transparent;
	color: white;
	padding: 2px 11px;
	height: 40px;
}

.button.is-roxo.icon {
	padding: 18px 66px;
  background-color: transparent;
	border: solid 2px #9600c8;
	color: #9600c8;
}
.button.is-roxo.icon:hover {
	background-color: #9600c8;
  color: white;
}
.button.is-black.icon {
  background-color: black;
  padding: 20px 66px;
}


.button.is-black {
	background-color: transparent;
}
.button.is-black:hover {
	background-color: transparent;
}

.button.is-small {
	border-radius: 5px;
	font-size: 0.9rem;
}

.is-prime {
	background-color: #9600c8;
	border-color: transparent;
	color: #fff;
	height: 26px;
	padding-left: 0.7em;
	padding-right: 0.7em;
	padding-top: px;
}

.is-prime:hover{
	background-color: #ff78be;
	border-color: transparent;
	color: #fff;
}