//buttons

.button {
	font-family: Brice-SemiBoldSemiCondensed;
	//font-size: 1.4rem;
	border: 0;
	box-shadow: none;
}
.button.is-large {
	font-family: Brice-SemiBoldSemiExpanded;
	color: #0a0a0a;
	line-height: 29px;
}
.button.is-warning {
	background-color: #ffdc00;
}
.button.is-warning:hover, .button.is-warning.is-hovered {
  background-color: #f7d500;
  border-color: transparent;
  color: #fff;
}
.button.is-darkn {
  background-color: black;
  border-color: transparent;
	color: white;
	width: 136px;
  height: 40px;
}

.button.is-darkn-user {
  background-color: black;
  border-color: transparent;
  color: white;
  width: 102px;
  height: 35px;
}
.button.is-lightr{
	background-color: #eeeeee;
	padding: 0.3em 2.5em;
	display: inline;
	font-size: 14px;
}
.button.is-dark:hover {
  background-color: #363636;
  border-color: transparent;
	color: white;
}
.button.is-dark {
  background-color: black;
  border-color: transparent;
	color: white;
}
.button.is-dark[disabled]:hover {
	background-color: #363636;
	border-color: transparent;
	box-shadow: none;
	color: white;
}
.logout {
	padding-left: 1rem;
}

.button.is-primary {
	background-color: #9600c8;
	border-color: transparent;
	color: #fff;
}

.button.is-green {
	background-color: #46d06e;
	border-color: transparent;
	color: #fff;
}

.button.is-green:hover, .button.is-green.is-hovered {
  background-color: #3eb25f;
  border-color: transparent;
  color: #fff;
}

.button.is-primarye {
	background-color: #9600c8;
	border-color: transparent;
	color: #fff;
	height: 22px;
	padding-left: 0.7em;
	padding-right: 0.7em;
}
.button.is-primarye:hover {
	background-color: #ff78be;
	border-color: transparent;
	color: #fff;
}
.button.is-primarye.nav {
	background-color: #9600c8;
	border-color: transparent;
	color: #fff;
	height: 22px;
	font-size: 0.9em;
	padding-left: 0.7em;
	padding-right: 0.7em;
}
.button.is-primarye.nav:hover {
	background-color: #ff78be;
	border-color: transparent;
	color: #fff;
}
.button.is-primarye.is-large {
	height: 35px;
}
.button.is-primarye.is-large:hover {
	background-color: #ff78be;
	border-color: transparent;
	color: #fff;
}

.button.is-primary:hover, .button.is-primary.is-hovered {
	background-color: #ff78be;
	border-color: transparent;
	color: #fff;
}

.button.is-primarye.job {
	background-color: #9600c8;
	border-color: transparent;
	color: #fff;
	height: 25px;
	font-size: 12px;
	padding-left: 1.5em;
	padding-right: 1.5em;
}
.button.is-primarye.job:hover {
	background-color: #ff78be;
	border-color: transparent;
	color: #fff;
}

.button .icon:first-child:not(:last-child) {
  margin-left: calc(-0.25em - 1px);
  margin-right: 0.25em;
}

.has-text-primary {
	color: #ff78be !important;
}
.button.is-success {
		background-color: #32DC64;
}

//show page user normal button
.button.is-roxo {
	background-color: #9600c8;
	color: white;
	width: 102px;
  height: 35px;
}

.button.is-roxo:hover {
	background-color: black;
	color: white
}

//buttons - shot show outlin
.buttons.two {
	justify-content: start;
	padding-top: 11px;
}

//buttons - show page shot outlin
.button.is-roxo.outlined.icon {
	padding: 2px 66px;
  background-color: transparent;
  border: solid 2px #9600c8;
  color: #9600c8;
	height: 40px;
	margin-right: 20px;
}
.button.is-roxo.outlined.icon:hover {
	background-color: #9600c8;
	color: white;
}
.button.is-dark.outlined {
  background-color: black;
  border-color: transparent;
	color: white;
	padding: 2px 11px;
	height: 40px;
}
//buttons - show page shot outlin icon
.button.is-roxo.icon {
	padding: 18px 66px;
  background-color: transparent;
	border: solid 2px #9600c8;
	color: #9600c8;
}
.button.is-roxo.icon:hover {
	background-color: #9600c8;
  color: white;
}
.button.is-black.icon {
  background-color: black;
  padding: 20px 66px;
}
.fa-heart:before {
	margin-right: 4px;
}

//buttons - show page shot outlin icon clicked
.button.is-black {
	background-color: transparent;
}
.button.is-black:hover {
	background-color: transparent;
}

.button.is-small {
	border-radius: 5px;
	font-size: 16px;
	height: 26px;
	padding-top: 0px;
}
.button.is-small.nav {
	border-radius: 5px;
	font-size: 14px;
  height: 23px;
}
.button.is-small.adm {
	border-radius: 5px;
  font-size: 16px;
	height: 22px;
	padding-top: 5px;
}

//buttons prime
.is-prime {
	background-color: #9600c8;
	border-color: transparent;
	color: #fff;
	//height: 26px;
	padding-left: 0.7em;
	padding-right: 0.7em;
}

.is-prime:hover{
	background-color: #ff78be;
	border-color: transparent;
	color: #fff;
}
.button[disabled], fieldset[disabled] .button {
	background-color: #9600c8;

}
// #sendNewSms {
// 	background-color: #9600c8;
// }

// #sendNewSms:hover{
// 	background-color: #ff78be;
// 	border-color: transparent;
// 	color: #fff;
// }

//buttons large contact shot show
.button.contact{
  justify-content: center;
  margin-bottom: 20px;
	height: 40px;
	width: 100%;
}

//delete button
.button.is-danger {
  background-color: #f14668;
  border-color: transparent;
  color: #fff;
  height: 30px;
}
.button.is-danger:hover, .button.is-danger.is-hovered {
  background-color: #d92549;
  border-color: transparent;
  color: #fff;
}
