
.title.profile {
	font-family: 'Brice-SemiBoldSemiCondensed';
}

.title:not(:last-child), .subtitle:not(:last-child) {
	margin-bottom: 1.9rem;
}

.tag:not(body).is-warning {
  background-color: transparent;
}
.tag:not(body).is-warningi {
  background-color: #ffdc00;
}

.tag:not(body).is-primaryy{
  background-color: #9600c8;
  color: #fff;
}

p.subtitle.cards{
	font-family: Brice-Bold;
	color: black;
	font-size: 1.5rem;
}
p.subtitle.cards span{
  color: #9600c8;
  font-family: 'Brice-BoldSemiCondensed';
}