@font-face {
  font-family: 'Brice';
		src: font-url('Brice-Bold.otf');
		src: font-url('Brice-BoldCondensed.otf');
		src: font-url('Brice-BoldSemiCondensed.otf');
		src: font-url('Brice-LightSemiCondensed.otf');
		src: font-url('Brice-RegularSemiCondensed.otf');
		src: font-url('Brice-SemiBoldSemiCondensed.otf');
		src: font-url('Brice-SemiBoldSemiExpanded.otf');
  font-family: 'OhnoBlazeface';
		src: font-url('OhnoBlazeface12Point.ttf');
}

.title.profile {
	font-family: Brice-SemiBoldSemiCondensed;
}

.title:not(:last-child), .subtitle:not(:last-child) {
	margin-bottom: 1.9rem;
}

.tag:not(body).is-warning {
  background-color: transparent;
}
.tag:not(body).is-warningi {
  background-color: #ffdc00;
}

.tag:not(body).is-primaryy{
  background-color: #9600c8;
  color: #fff;
}

p.subtitle.cards{
	font-family: Brice-Bold;
	color: black;
	font-size: 1.5rem;
}
p.subtitle.cards span{
  color: #9600c8;
  font-family: 'Brice-BoldSemiCondensed';
}