//Hero
.hero.yellow {
	background-color: #ffdc00;
	.title {
		font-family: Brice-BoldSemiCondensed;
		color: black;
		font-size: 1.9rem;
	}
	.subtitle {
		color: black;
		font-size: 1rem;
		font-family: Brice-LightSemiCondensed;
	}
}

.hero.is-warning .title {
	font-family: Brice-SemiBoldSemiExpanded;
	font-size: 2.2rem;
	color: #0a0a0a;
}
.hero.is-warning .title-pay {
  font-family: Brice-SemiBoldSemiExpanded;
  font-size: 1.2rem;
	color: #0a0a0a;
	margin-bottom: 1.5rem;
}
.hero.is-warning {
	background-color: #ffdc00;
	position: relative;
	padding-top: 4rem;
	padding-bottom: 4rem;
}
.hero {
	background-color: white;
	position: relative;
	padding-top: 4rem;
	padding-bottom: 4rem;
}
.hero.is-warning.profile {
	padding: 6rem 5rem;
}

.textarea:not([rows]) {
  max-height: 288px;
  min-height: 8em;
}

.warning .title {
	padding: 7.5rem 0 0 0;
}
//sign-up page left
.background-pink {
	background-color: #ff64dc;
	.title{
		font-family: Brice-Bold;
		font-size: 3rem;
		color: white;
		padding: 6rem 6rem 1rem;
		line-height: 2.7rem;
	}
	.subtitle {
		color: white;
		font-family: Brice-SemiBoldSemiCondensed;
		font-size: 1.5rem;
		padding: 0 7rem;
	}
	img {
		margin-bottom: -6px;
	}
}
//sign-up page right
.sign-up {
	background-color: #ffdc00;
	.title {
		font-family: Brice-Bold;
		color: black;
		font-size: 2rem;
		padding: 7.25rem 0 1rem 0;
	}
	.label {
		font-family: Brice-SemiBoldSemiCondensed;
		color: black;
		font-size: 1rem;
		margin-bottom: 0;
	}
}

.hero.is-small .hero-body {
  padding-bottom: 0rem;
  padding-top: 0rem;
}
.hero.is-amarelo {
	background-color:#ffdc00;
	flex: 0 0 263px;
}
.hero.is-amarelo-job {
	background-color:#ffdc00;
	flex: 0 0 20px;
}
.hero.is-primaryv  {
	background-image: image-url("background-yg.png");
	position: relative;
	background-size: cover; 
  background-position: center;
}

.hero.is-form  {
	background-image: image-url("fundo.png");
	position: relative;
	background-size: cover; 
  background-position: center;
}

.column.is-background {
	background-image: image-url("background-upload-JPG.jpg");
	position: relative;
	background-size: cover; 
	background-position: center;
	flex: 0 0 263px;
}

.column.is-background-roxo {
	background-image: image-url("fundo-r-a.jpg");
	position: relative;
	background-size: cover; 
	background-position: center;
	flex: 0 0 263px;
}
.column.is-purple {
	background-color: #9600c8;
}

.control {
  margin-bottom: 1em;
}
.control-search {
  margin-bottom: 0;
}

.fae {
	margin-top: 15px;
	margin-bottom: 30px;
	height: 40px;
}

.fah {
	margin-bottom: 25px;
	height: 56px;
}
.fahvm {
	height: 132px;
  width: 100%;
}

.hero-body-community {
	flex-grow: 1;
    flex-shrink: 0;
    padding: 1.5rem 0.7rem;
}