//Hero
.hero.yellow {
	background-color: #ffdc00;
	.title {
		font-family: Brice-BoldSemiCondensed;
		color: black;
		font-size: 1.9rem;
	}
	.subtitle {
		color: black;
		font-size: 1rem;
		font-family: Brice-LightSemiCondensed;
	}
}



.hero.is-warning .title {
	font-family: Brice-SemiBoldSemiExpanded;
	font-size: 2.2rem;
	color: #0a0a0a;
}
.hero.is-warning {
	background-color: #ffdc00;
	position: relative;
	padding-top: 4rem;
}
.hero.is-warning.profile {
	padding: 4rem;
}

.warning .title {
	padding: 7.5rem 0 0 0;
}
//sign-up page left
.background-pink {
	background-color: #ff64dc;
	.title{
		font-family: Brice-Bold;
		font-size: 3rem;
		color: white;
		padding: 6rem 6rem 1rem;
		line-height: 2.7rem;
	}
	.subtitle {
		color: white;
		font-family: Brice-SemiBoldSemiCondensed;
		font-size: 1.5rem;
		padding: 0 7rem;
	}
	img {
		margin-bottom: -6px;
	}
}
//sign-up page right
.sign-up {
	background-color: #ffdc00;
	.title {
		font-family: Brice-Bold;
		color: black;
		font-size: 2rem;
		padding: 7.25rem 0 1rem 0;
	}
	.label {
		font-family: Brice-SemiBoldSemiCondensed;
		color: black;
		font-size: 1rem;
		margin-bottom: 0;
	}
}


.hero.is-small .hero-body {
  padding-bottom: 0rem;
  padding-top: 0rem;
}
.hero.is-purple {
	background-color:#9600c8;
	flex: 0 0 263px;
}
.hero.is-primaryv  {
	background-image: image-url("background-yg.png");
	position: relative;
	background-size: cover; 
  background-position: center;
}

.column.hero.is-primaryvv {
	background-image: asset-url('backgroundv.png');
	position: relative;
	background-size: cover; 
  background-position: center;
}

.control {
  margin-bottom: 1em;
}

.fae {
	margin-top: 15px;
	margin-bottom: 30px;
	height: 40px;
}

.fah {
	margin-bottom: 25px;
	height: 56px;
}