//navba
.navbar-item, .navbar-link {
	color: #4a4a4a;
	line-height: 1.5;
	padding: 0px 30px;
	margin: -1rem;
	position: relative;
}
.navbar-item img {
	max-height: 3.7rem;
	margin: 12px 0 12px 5px;
}
.navbar-dropdown .navbar-item {
  padding-left: 0.5rem;
  padding-right: 1rem;
}
.navbar-dropdown a.navbar-item:hover {
	background-color: transparent;
}

a.navbar-item:hover, a.navbar-item.is-active,
a.navbar-link:hover,
a.navbar-link.is-active {
  background-color: white;
  color: #ff78be;
}
.navbar {
z-index: 99;
position: relative;
background-color: black;
}
.navbar-menu {
	background-color: transparent;
	box-shadow: none;
	padding: 2.2rem 0;
}
.navbar {
	min-height: 4.25rem;
}
a.navbar-item:hover, a.navbar-item.is-active, a.navbar-link:hover, a.navbar-link.is-active {
	background-color: transparent;
}
.navbar-item {
	background-color: transparent;
}
.navbar-dropdown.profile{
	background-color: #161616;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top: none;
	padding-left: 21px;
	padding-top: 20px;
	padding-bottom: 20px;
	min-width: 100%;
	top: 83%;
	right: -14px;
	left: -20px;

}

//navbar-burge
.navbar-burger {
  color: white;
  cursor: pointer;
  display: block;
  height: 3.25rem;
  position: relative;
  width: 3.25rem;
  margin-left: auto;
  margin-top: .75rem;
}
.navbar-burger span {
  background-color: currentColor;
  display: block;
  height: 2px;
  left: calc(50% - 8px);
  position: absolute;
  transform-origin: center;
  transition-duration: 86ms; 
  transition-property: background-color, opacity, transform;
  transition-timing-function: ease-out;
  width: 18px;
}

input#search.input.search {
	background-color: transparent;
	color: black;
	border-radius: 0px;
	box-shadow: 0 0 0 0;
	border-bottom: solid 1.2px black;
	border-top: 0 none;
  border-left: 0 none;
	border-right: 0 none;
	padding-top: 25px;
}
input#search.input.search.x {
	background-color: transparent;
	color: black;
	border-radius: 0px;
	box-shadow: 0 0 0 0;
	border-bottom: solid 1.2px black;
	border-top: 0 none;
  border-left: 0 none;
  border-right: 0 none;
}

.line {
	border-right: solid 1px white;
	height: 45px;
	border-radius: 0px;
}

.fas.fa-search {
  height: 0px;
}

hr.navbar-divider {
  margin-left: -21px;
}

.triangle{
  position: absolute;
  top: -10px;
  left: 34px;
  width: 0;
  border-bottom: solid 12px #161616;
  border-right: solid 12px transparent;
  border-left: solid 12px transparent;
}

.navbar-dropdown.post {
	background-color: #161616;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top: none;
	padding-left: 7px;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 0px;
	top: 105%;
	left: 16px;
}

.navbar-dropdown {
	background-color: white;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top: 2px solid #dbdbdb;
	box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
	display: none;
	font-size: 0.875rem;
	left: 0;
	min-width: 75%;
	position: absolute;
	top: 100%;
	z-index: 20;
}

.field.has-addons {
  display: flex;
  justify-content: flex-start;
  margin: -10px 40px;
}

button#search-form.button {
	box-shadow: none;
}