// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index-title {
  margin-bottom: 10px !important;
  a {
    color: hsl(0, 0%, 21%);
    font-family: Brice-LightSemiCondensed;
  }
}
.index-title a:hover {
  color: hsl(0, 0%, 21%);
}

p.title.jobs {
  font-family: Brice-Bold;
  margin: 40px 0 20px 0;
  font-size: 1.5rem;
  color: black;
}

h1.title {
  font-family: Brice-SemiBoldSemiExpanded;
  color: black;
}


.job-board {
  background-color: #ffdc00;
  height: 662px;
}

.board {
  padding: 0px 10px 0px 20px;
}

.job-description {
  padding-right: 2rem;
}

.jobz {
	display: grid;
	grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  padding-left: 80px;
	margin: 0 1.5rem 0 1.5rem;
	@media only screen and (min-width: 1600px) {
		grid-template-columns: 1fr 1fr;
	}
	@media only screen and (max-width: 1300px) {
		grid-template-columns: 1fr 1fr;
	}
	@media only screen and (max-width: 1100px) { 
		grid-template-columns: 1fr 1fr;
	}
	@media only screen and (max-width: 800px) {
		grid-template-columns: 1fr 1fr;
	}
	@media only screen and (max-width: 650px) {
		grid-template-columns: 1fr;
	}

}

.columns.job:not(:last-child) {
  margin-bottom: 0;
}


.tag:not(body).job-art-type {
  background-color: #bfbfbf;
  color: white;
  margin: 0 10px;
}

.job-user-name {
  color: black;
  cursor: pointer;
  text-decoration: none;
  font-family: Brice-LightSemiCondensed;
  font-size: 15px;
}

.shot-title.job a{
  font-family: Brice-BoldSemiCondensed;
  color: black;
  font-size: 1.2rem;
}

.shot-title.job.search a {
  font-family: Brice-BoldSemiCondensed;
  color: black;
  font-size: 16px;
}
.user-name-jobz {
  display: inline-grid;
  position: relative;
  padding-left: 10px;
}
.shot-title.job-page a{
  font-family: Brice-BoldSemiCondensed;
  color: black;
  font-size: 1.2rem;
}

.post-job {
  font-size: 1.5rem;
  font-family: Brice-Bold;
  color: black;
  margin: 0 12px 0 12px;
}

.shot.job-index{
  padding-top: 10px;
}