/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$pink: #ea4c89;
$pink-invert: #fff;

$primary: $pink;
$primary-invert: $pink-invert;
$link: $primary;
$link-hover: darken($primary, 20%);

 @import "bulma";

 @import "components/avatar";
 @import "components/buttons";
 @import "components/footer";
 @import "components/heros";
 @import "components/navbar";
 @import "components/notifications";
 @import "components/functions";
 @import "jobs";
 @import "stripe";
 @import "fonts";

.title.profile {
	font-family: Brice-SemiBoldSemiCondensed;
}

.title:not(:last-child), .subtitle:not(:last-child) {
	margin-bottom: 1.9rem;
}

.tag:not(body).is-warning {
  background-color: transparent;
}
.tag:not(body).is-warningi {
  background-color: #ffdc00;
}

.tag:not(body).is-primaryy{
  background-color: #9600c8;
  color: #fff;
}

p.subtitle.cards{
	font-family: Brice-Bold;
	color: black;
	font-size: 1.5rem;
}
p.subtitle.cards span{
  color: #9600c8;
  font-family: Brice-BoldSemiCondensed;
}

.notification {
  border-radius: 0;
}

.notification:not(:last-child) {
  margin-bottom: 0;
}

.hint {
  font-size: small;
}

.tag {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 9px !important;
}


hr {
	background-color: black;
}
html, body {
	min-height: 100vh;
	background-color: white;
  margin: 0;
  padding: 0;
	overflow-x: hidden;
}
.section {
  padding: 2.5rem 2.5rem;
}
.level {
  align-items: center;
  justify-content: space-between;
  display: flex;
}

#drop_zone {
	position: relative;
	padding: 3rem 0;
	border: 2px dashed #ccc;
	text-align: center;
	border-radius: 6px;
	background-color: #f8f8trf8;
	&.dragging::before {
		content: "";
	  position: absolute;
	  left: 0; width: 100%;
	  top: 0; height: 100%;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  font-size: 1.5em;
	  background-color: rgba($primary, .3);
	  pointer-events: none;
	  z-index: 99;
	}
	&.fire::before {
		content: "";
	  position: absolute;
	  left: 0; width: 100%;
	  top: 0; height: 100%;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  font-size: 1.5em;
	  background-color: rgba($green, .3);
	  pointer-events: none;
	  z-index: 99;
	}
}


.field.is-grouped {
  display: table-caption;
}

.visible {
	display: block !important;
}
.is-white {
	background-color: whitesmoke;
}

//image
.image img{
	border-radius: 50%;
	display: block;
  height: auto;
  width: 350px;
}

//video
video {
	max-width: 100%;
	object-fit: cover;
	max-height: 580px; //450px
}