/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 @font-face {
  font-family: Brice;
	src: url(font-path('Brice-SemiBoldSemiCondensed.otf'));
	src: url(font-path('Brice-SemiBoldSemiExpanded.otf'));
}

$pink: #ea4c89;
$pink-invert: #fff;

$primary: $pink;
$primary-invert: $pink-invert;
$link: $primary;
$link-hover: darken($primary, 20%);


@import "bulma";

html, body {
	min-height: 100vh;
	background-color: #f4f4f4;
}

#drop_zone {
	position: relative;
	padding: 3rem 0;
	border: 2px dashed #ccc;
	text-align: center;
	border-radius: 6px;
	background-color: #f8f8trf8;
	&.dragging::before {
		content: "";
	  position: absolute;
	  left: 0; width: 100%;
	  top: 0; height: 100%;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  font-size: 1.5em;
	  background-color: rgba($primary, .3);
	  pointer-events: none;
	  z-index: 99;
	}
	&.fire::before {
		content: "";
	  position: absolute;
	  left: 0; width: 100%;
	  top: 0; height: 100%;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  font-size: 1.5em;
	  background-color: rgba($green, .3);
	  pointer-events: none;
	  z-index: 99;
	}
}

.notification {
	border-radius: none;
	border-radius: 0;
}
.notification:not(:last-child) {
	margin-bottom: 0;
}

.visible {
	display: block !important;
}
.is-white {
	background-color: whitesmoke;
}

.navbar-item img {
	max-height: 3.7rem;
	margin: 12px 0 12px 5px;
}

a.navbar-item:hover, a.navbar-item.is-active,
a.navbar-link:hover,
a.navbar-link.is-active {
  background-color: white;
  color: #ea4c89;
}
.navbar {
z-index: 99;
position: relative;
background-color: transparent;
}
.navbar-menu {
	background-color: transparent;
	box-shadow: none;
	padding: 0.5rem 0;
}
.navbar-brand {

}
a.navbar-item:hover, a.navbar-item.is-active, a.navbar-link:hover, a.navbar-link.is-active {
	background-color: transparent;
}
.navbar-item {
	background-color: transparent;
}

@media screen and (min-width: 769px), print {
  .hero.is-large .hero-body {
    padding-bottom: 13rem;
    padding-top: 13rem;
  }
}

@media screen and (min-width: 769px), print {
  .hero.is-medium .hero-body {
    padding-bottom: 9rem;
    padding-top: 5rem;
  }
}

.button.is-fullwidth {
  display: flex;
  width: 100%;
  height: 190px;
}

.button {
	font-family: Brice-SemiBoldSemiCondensed;
	font-size: 1.4rem;
	border: 0;
	padding-bottom: 0;
}

.button.is-large {
	font-family: Brice-SemiBoldSemiExpanded;
	color: #0a0a0a;
	line-height: 29px;
}

.hero.is-warning .title {
	font-family: Brice-SemiBoldSemiExpanded;
	font-size: 2.2rem;
	color: #0a0a0a;
}

.button.is-warning {
	background-color: #FFDC00;
}
.hero.is-warning {
	background-color: #FFDC00;
	position: relative;
	z-index: 0;
	margin-top: -26rem;
}
.hero-body.show {
	margin-bottom: -5rem;
	margin-top: 25rem;
}
.button.is-primary {
	background-color: #a000b4;
	border-color: transparent;
	color: #fff;
}
.button.is-primary:hover, .button.is-primary.is-hovered {
	background-color: #fe79bd;
	border-color: transparent;
	color: #fff;
}
.has-text-primary {
	color: #a000b4 !important;
}
.button.is-success {
		background-color: #32DC64;
}
.buttons .button:not(:last-child) {
  margin-right: 2rem;
}
.button.is-white {
	background-color: transparent;
	color: #0a0a0a;
	border: none;
}

.button.is-white:hover, .button.is-white.is-hovered {
	background-color: transparent;
	border-color: transparent;
	color: #0a0a0a;
}
.image img{
	border-radius: 50%;
	display: block;
  height: auto;
  width: 150px;
}
.column.is-2, .column.is-2-tablet {
	flex: none;
	width: 400px;
	margin-right: -8vw;
	margin-left: -19vw;
	padding: 0 0px 0 90px;
	margin-bottom: 40px;
}
.column.is-7 {
	padding: 1.75rem;
}

.fa-play-circle:before {
	content: "\f144";
	font-size: 100px;
}

.button.is-warning:hover, .button.is-warning.is-hovered {
  background-color: #f7d500;
  border-color: transparent;
  color: #fff;
}

.button.is-black {
	background-color: white;
	color: black;
}

.title:not(:last-child), .subtitle:not(:last-child) {
	margin-bottom: 1.9rem;
}

.field.is-grouped {
  display: table-caption;
}
