
@font-face {
	font-family: OhnoBlazeface;
	src: font-url('OhnoBlazeface12Point.ttf') format('truetype'),
			 font-url('OhnoBlazeface12Point.woff') format('woff'),
			 font-url('OhnoBlazeface12Point.woff2') format('woff2');
}

@font-face {
  font-family: Brice-Bold;
  font-weight: bold;
	src: font-url('Brice-Bold.ttf') format('truetype'),
			 font-url('Brice-Bold.woff') format('woff'),
			 font-url('Brice-Bold.woff2') format('woff2');
}

@font-face {
	font-family: Brice-BoldCondensed;
	src: font-url('Brice-BoldCondensed.ttf') format('truetype'),
			 font-url('Brice-BoldCondensed.woff') format('woff'),
			 font-url('Brice-BoldCondensed.woff2') format('woff2');
}

@font-face {
	font-family: Brice-BoldSemiCondensed;
	src: font-url('Brice-BoldSemiCondensed.ttf') format('truetype'),
			 font-url('Brice-BoldSemiCondensed.woff') format('woff'),
			 font-url('Brice-BoldSemiCondensed.woff2') format('woff2');
}


@font-face {
	font-family: Brice-LightSemiCondensed;
	font-weight: lighter;
	src: font-url('Brice-LightSemiCondensed.ttf') format('truetype'),
			 font-url('Brice-LightSemiCondensed.woff') format('woff'),
			 font-url('Brice-LightSemiCondensed.woff2') format('woff2');
}

@font-face {
  font-family: Brice-RegularSemiCondensed;
	src: font-url('Brice-RegularSemiCondensed.ttf') format('truetype'),
			 font-url('Brice-RegularSemiCondensed.woff') format('woff'),
			 font-url('Brice-RegularSemiCondensed.woff2') format('woff2');
}

@font-face {
  font-family: Brice-SemiBoldSemiCondensed;
	src: font-url('Brice-SemiBoldSemiCondensed.ttf') format('truetype'),
			 font-url('Brice-SemiBoldSemiCondensed.woff') format('woff'),
			 font-url('Brice-SemiBoldSemiCondensed.woff2') format('woff2');
}

@font-face {
  font-family: Brice-SemiBoldSemiExpanded;
	src: font-url('Brice-SemiBoldSemiExpanded.ttf') format('truetype'),
			 font-url('Brice-SemiBoldSemiExpanded.woff') format('woff'),
			 font-url('Brice-SemiBoldSemiExpanded.woff2') format('woff2');
}

.table thead th  {
	font-family: Brice-BoldSemiCondensed;
	color: black;
	font-size: 18px;
}
td {
	font-family: Brice-LightSemiCondensed;
	color: #101010;
}