
@font-face {
	font-family: OhnoBlazeface;
	font-weight: normal;
	src: font-url('OhnoBlazeface12Point.ttf') format('truetype');
	src: font-url('OhnoBlazeface12Point.woff') format('woff');
	src: font-url('OhnoBlazeface12Point.woff2') format('woff2');
}

@font-face {
  font-family: Brice-Bold;
  font-weight: bold;
	src: font-url('Brice-Bold.ttf') format('truetype');
	src: font-url('Brice-Bold.woff') format('woff');
	src: font-url('Brice-Bold.woff2') format('woff2');
}

@font-face {
	font-family: Brice-BoldCondensed;
	font-weight: normal;
	src: font-url('Brice-BoldCondensed.ttf') format('truetype');
	src: font-url('Brice-BoldCondensed.woff') format('woff');
	src: font-url('Brice-BoldCondensed.woff2') format('woff2');
}

@font-face {
	font-family: Brice-LightSemiCondensed;
	font-weight: lighter;
	src: font-url('Brice-LightSemiCondensed.ttf') format('truetype');
	src: font-url('Brice-LightSemiCondensed.woff') format('woff');
	src: font-url('Brice-LightSemiCondensed.woff2') format('woff2');
}

@font-face {
  font-family: Brice-RegularSemiCondensed;
  font-weight: normal;
	src: font-url('Brice-RegularSemiCondensed.ttf') format('truetype');
	src: font-url('Brice-RegularSemiCondensed.woff') format('woff');
	src: font-url('Brice-RegularSemiCondensed.woff2') format('woff2');
}

@font-face {
  font-family: Brice-SemiBoldSemiCondensed;
  font-weight: normal;
	src: font-url('Brice-SemiBoldSemiCondensed.ttf') format('truetype');
	src: font-url('Brice-SemiBoldSemiCondensed.woff') format('woff');
	src: font-url('Brice-SemiBoldSemiCondensed.woff2') format('woff2');
}

@font-face {
  font-family: Brice-SemiBoldSemiExpanded;
  font-weight: normal;
	src: font-url('Brice-SemiBoldSemiExpanded.ttf') format('truetype');
	src: font-url('Brice-SemiBoldSemiExpanded.woff') format('woff');
	src: font-url('Brice-SemiBoldSemiExpanded.woff2') format('woff2');
}