@font-face {
  font-family: 'Brice';
		src: local('Brice-Bold.ttf') format('truetype');
		src: local('Brice-BoldCondensed.ttf') format('truetype');
		src: local('Brice-BoldSemiCondensed.ttf') format('truetype');
		src: local('Brice-LightSemiCondensed.ttf') format('truetype');
		src: local('Brice-RegularSemiCondensed.ttf') format('truetype');
		src: local('Brice-SemiBoldSemiCondensed.ttf') format('truetype');
		src: local('Brice-SemiBoldSemiExpanded.ttf') format('truetype');
  font-family: 'OhnoBlazeface';
		src: local('OhnoBlazeface12Point.ttf') format('truetype');
}