// Place all the styles related to the Shots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "shots/index";


.hero.is-dark {
	background-color: #282828 !important;
}

.shot-wrapper-job {
	//box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
	//border-radius: 2px;
	padding: 0 10px 10px 10px;
	//background: #f4f4f4;
	margin: 15px 0 0 0;
}
.shots {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1.5rem;
	//margin: 0 1.5rem 0 1.5rem;
	@media only screen and (min-width: 1600px) {
		grid-template-columns: repeat(4, 1fr);
	}
	@media only screen and (max-width: 1300px) {
		grid-template-columns: repeat(3, 1fr);
	}
	@media only screen and (max-width: 1100px) { 
		grid-template-columns: repeat(2, 1fr);
	}
	@media only screen and (max-width: 800px) {
		grid-template-columns: 1fr 1fr;
	}
	@media only screen and (max-width: 650px) {
		grid-template-columns: 1fr;
	}

}

.shots-search {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2.5rem;
	margin: 0 1.5rem 0 1.5rem;
	@media only screen and (min-width: 1600px) {
		grid-template-columns: repeat(3, 1fr);
	}
	@media only screen and (max-width: 1300px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media only screen and (max-width: 1100px) { 
		grid-template-columns: repeat(2, 1fr);
	}
	@media only screen and (max-width: 800px) {
		grid-template-columns: 1fr;
	}
	@media only screen and (max-width: 500px) {
		grid-template-columns: 1fr;
	}

}

.shots.user{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 0rem;
	@media only screen and (min-width: 1600px) {
		grid-template-columns: repeat(3, 1fr);
	}
	@media only screen and (max-width: 1300px) {
		grid-template-columns: repeat(3, 1fr);
	}
	@media only screen and (max-width: 1100px) { 
		grid-template-columns: repeat(2, 1fr);
	}
	@media only screen and (max-width: 800px) {
		grid-template-columns: 1fr;
	}
	@media only screen and (max-width: 400px) {
		grid-template-columns: 1fr;
	}
}
.section.user{
	padding: 2.5rem 2rem;
	.section {
		padding: 1rem 1rem;
	}
}


.shot {
	position: relative;
	display: block;
	color: #333 !important;
	
	.shot-data {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 6px;
		left: 0;
		padding: 10px;
		background: rgba(white, .9);
		cursor: pointer;
		.shot-title {
			font-weight: bold;
		}
		.shot-description {
			font-size: .9rem;
		}
		.shot-time {
			font-size: .8rem;
			padding-top: .5rem;
		}
	}
}


.user-data {
	padding: 1rem 0 0 0;
}

.user-name {
	display: inline-block;
	position: relative;
	padding-left: 5px;
}
.user-name-show {
	display: inline-block;
	position: relative;
	padding-left: 5px;
	top: 7px;
}

.user-thumb {
	display: inline-block;
	img {
		border-radius: 50%;
		height: 30px;
		width: 30px;
		// object-fit: cover;
	}
}

.shot-time {
	display: inline-flex;
	position: relative;
	top: -4px;
}

.shot-analytics {
	text-align: right;
	@media only screen and (max-width: 800px) {
		text-align: right;
		.level-item {
			display: inline-flex;
			padding: 0 4px;
		}
		.level-left+.level-right {
			margin: 0;
			padding: 0;
		}
		.level-item:not(:last-child) {
			margin: 0;
		}
	}

}

.shot-analytics,
.panel.show-shot-analytics {
	//font-size: .9rem;
	a,
	.icon {
		color: #9600c8;
	}
	// .icon:hover,
	// a:hover {
	// 	color: darken(#aaa, 25%);
	// }
		.icon:hover,
	a:hover {
		color: #ff78be;
	}

}

.panel.show-shot-analytics {
	a { color: #333; }
	.icon {
		padding-right: .5rem;
	}
	.likes .vote_count {
		margin-left: -4px;
	}
}

.shot img, .avatar{
	height: 300px;
	width: 100%;
	object-fit: cover;
	.avatar {
		width: 30px;
		height: 30px;
	}
}


#scroll-content
{
height:662px;
overflow:auto;
}

//job index
.shot label  {
	font-family: Brice-LightSemiCondensed;
	font-size: 14px;
}

.follow-grid {
	display: grid;
	grid-template-columns: repeat(1fr);
  grid-gap: 10px;
	margin: 0 1.5rem 0 1.5rem;
	align-items: center;
	justify-content: center;
	@media only screen and (max-width: 650px) {
		grid-template-columns: 1fr;
		margin: 0 1.5rem 0 3.5rem;
	}
	.shot img {
		height: 150px;
		width: 150px;
		object-fit: cover;
	}
}
.shots-following {
	display: inline-flex;
	grid-gap: 15px;
	// padding-left: 4rem;
	// margin-left: auto;
}

.level-item-search-f{
	align-items: center;
	justify-content: left;
  display: flex;
}
.user-thumb-following img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
	object-fit: cover;
	margin: 1rem;
}

// .follow-search-grid {
// 	display: grid;
// 	grid-template-columns: repeat(1fr);
//   grid-gap: 10px;
// 	margin: 0 1.5rem 0 1.5rem;
// 	@media only screen and (max-width: 650px) {
// 		grid-template-columns: 1fr;
// 	}
// }

.user-name-follow {
  display: inline-block;
  // position: relative;
	margin: 2rem;
	width: 200px;
}

#slideout {
	position: absolute;
	top: 430px;
	left: 0;
	width: 40px;
	height: 127px;
	padding: 25px 0;
	text-align: center;
	background: #ffdc00;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
	
			}
#slideout p {
	-moz-transform:rotate(-90deg);
	-ms-transform:rotate(-90deg);
	-o-transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
	text-align: center;
	line-height: 84px;
  width: 46px;
	color: #9600c8;
  cursor: pointer;
  text-decoration: none;
	font-family: Brice-SemiBoldSemiCondensed;
}

.drop-zone-photo {
	font-family: Brice-RegularSemiCondensed;
	font-size: 14px;
	color: #9c9a9a;
}

.drop-zone-photo.type {
	display: flex;
	justify-content: space-around;
	margin-top: 2rem;
}

.drop-img{
  padding: 14rem 0;
  position: relative;
}