// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//video


iframe {
  background: black;
}

.level-right.index.video{
	padding-right: 15px;
}

.space {
	margin-top: 13px;
  margin-right: 5px;
  margin-left: 5px;
}