<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>


<strong>Bem vind@ à Panóplia!</strong>

<p>Temos a missão de criar uma relação próxima com tod@s @s artistas e, por isso, queremos conhecer-te melhor através de uma pequena conversa online!</p>
<p><%= link_to 'Clica aqui', 'https://form.jotform.com/panoplia/welcome'%> para agendares uma data para conversarmos.</p>
<p>Este passo é muito importante para que consigamos ajustar as oportunidades de trabalho que disponibilizamos @s artistas que trabalham connosco, por isso não tenhas vergonha!</p>
<p>Esperamos trabalhar contigo em breve.
Um até já.</p>

<strong>Welcome to Panóplia!</strong>

<p>Our mission is to form a close relationship with our artists, so we want to know you better through a quick and casual online conversation!</p>
<p><%= link_to 'Click here', 'https://form.jotform.com/panoplia/welcome'%> and schedule our meeting.</p> 
<p>We aim to help you the best way by adjusting your needs and professional preferences to job offers and other opportunities, so don’t be shy!</p>
<p>We hope to work with you soon,
Kind Regards.</p>
