#public-profile {
  display: none;
  .roman {
    font-family: Brice-LightSemiCondensed;
    color: black;
    font-size: 24px;
  }
}
#email {
	display: none;
}

#password {
	display: none;
}

.column.hero.is-background-edit {
	background-image: url('https://res.cloudinary.com/pinoplia/image/upload/v1592992193/backgroundv_gjjok1.png');
	position: relative;
	background-size: cover; 
  background-position: center;
  min-height: 1602px;
  flex: 0 0 263px;
}

.amatic {
  font-family: Brice-BoldSemiCondensed;
  color: black;
  font-size: 24px;
}
.roman {
  font-family: Brice-LightSemiCondensed;
  color: black;
  font-size: 24px;
}
.subtitle.edit {
  font-family: Brice-BoldSemiCondensed;
  color: black;
  font-size: 1rem;
}

.icon-arrow {
  background-image: image-url("arrow.png");
  height: 18px;
}

.field.element {
  margin-left: 20px;
  margin-top: 150px;
}

h1.title.edit {
  font-size: 1.5rem;
  margin-top: 25px;
  margin-bottom: 0px;
  
}

.profile.edit  {
  background-color: #ffdc00;
	position: relative;
	padding: 4rem;
}

h1.title.edit{
  font-family: Brice-Bold;
	color: #0a0a0a;
}
h3.title.edit.cancel {
  margin-top: 25px;
  font-size: 1rem;
  margin-bottom: 0px;
}
#user_bio{
  min-width: -webkit-fill-available;
  max-width: max-content;
  min-height: 180px;
  max-height: 250px
}


.label {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  color: black;
  font-family: Brice-BoldSemiCondensed;
}

.label:not(:last-child) {
  margin-bottom: 0.5em;
  color: black;
  font-family: Brice-BoldSemiCondensed;
}

.text.optional.label {
  color: black;
  font-family: Brice-BoldSemiCondensed;
}