#public-profile {
	display: none;
}
#email {
	display: none;
}

#password {
	display: none;
}

.hero.is-primary-edit {
	background-image: image-url("backgroundv.png");
	position: relative;
	background-size: cover; 
  background-position: center;
  min-height: 1100px;
}