h2.column.title.is-size-7 {
  margin-bottom: 19px;
  margin-top: 19px;
  max-inline-size: max-content;
}
//follow user page
span.follow {
	font-family: Brice-SemiBoldSemiCondensed;
	margin-top: 5px;
	margin-right: 5px;
	color: black;
	background-color: transparent;
	font-size: 18px;
}
span.counting {
	font-family: Brice-LightSemiCondensed;
	font-size: 18px;
	margin-top: 4px;
	font-weight: lighter;
}
.title.profile {
	font-family: Brice-SemiBoldSemiCondensed;
}

p.subtitle.art {
	font-family: Brice-BoldSemiCondensed;
	font-size: 1.2rem;
	margin: 2px 5px 10px;
	color:#000;
}

p.subtitle.bio {
	font-family: Brice-RegularSemiCondensed;
	margin-bottom:10px;
	padding: 0 19em;
	color: #000;

	@media only screen and (max-width: 1227px) {
		padding: 0 10em;
	}
	@media only screen and (max-width: 868px) {
		padding: 0 4em;
	}
	
}

p.subtitle.location {
	font-family: Brice-LightSemiCondensed;
	font-size: 1.2rem;
	margin: 0px 0px 10px;
}

h1.title.name {
	margin: 20px 0px 15px;
	font-family: Brice-Bold;
	font-size: 2.2rem;
	color: #0a0a0a;
}
.subtitle {
	font-family: Brice-SemiBoldSemiCondensed;
}

a.subtitle.signup {
	color: #9600c8;
}
a.subtitle.signup:hover {
	color: #ea4c89;
}

.level.shot-analytics.image{
	background-color: #9600c8;
	padding-bottom: 6px;
  padding-top: 6px;
  margin-top: -6px;
}

.shot-analytics.image a,
.shot-analytics.image .icon,
.panel.show-shot-analytics.image a,
.panel.show-shot-analytics.image .icon {
  color: white;
}

.level.shot-analytics.video{
	background-color: #9600c8;
	padding-bottom: 6px;
  padding-top: 6px;
	margin-top: -6px;
	width: 100.1%;
}

.shot-analytics.video a,
.shot-analytics.video .icon,
.panel.show-shot-analytics.video a,
.panel.show-shot-analytics.video .icon {
  color: white;
}

.level-item.comments.data.video, .level-item.comments.data.image {
	margin-right: 0px;
	margin-right: 0.75rem;

	
}
.level-item.views.data.video, .level-item.views.data.image {
	//margin-right: 0px;
	margin-right: 0.75rem;
	
}

.about {
	font-family: Brice-BoldSemiCondensed;
	color: #9600c8;
	font-size: 1.2rem;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0.3rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: #9600c8;
}
.far.fa-envelope.about, .fab.fa-facebook-f.about, .fab.fa-instagram.about, .fab.fa-linkedin-in.about  {
	color: #fff;
	font-size: 0.8rem;
}
h1.subtitle.about {
	margin-bottom: 20px;
	font-size: 1.2rem;
	color: black;
	font-family: Brice-Bold;
}
h1.subtitle.about.small {
	margin-bottom: 0;
	font-size: 1rem;
	font-family: Brice-Bold;
}
p.texto-small{
	font-family: Brice-RegularSemiCondensed;
	color: #000;
	font-size: 1.1rem;
	margin-bottom: 12px;
}
p.about.text {
	font-family: Brice-BoldSemiCondensed;
	font-size: 0.9rem;
	margin: 0 36px 15px;
	color: #000;
}
p.texto {
	font-family: Brice-RegularSemiCondensed;
	margin: 10px 98px;
	color: #000;
	@media only screen and (max-width: 650px) {
		margin: 10px 40px;
	}
}
.column.imagem-about {
	background-image: image-url("about-img.png");
	position: relative;
	background-size: cover; 
	background-position: center;
}
.columns:not(:last-child).about {
	margin-bottom: 0px;
}
p.subtitle.rosa {
	font-size: 2.5rem;
	color: #ff78be;
	margin: 0px 98px 10px;
	@media only screen and (max-width: 650px) {
		margin: 10px 40px;
	}
}
.face {
	display: flex;
	justify-content: space-evenly;
	@media only screen and (max-width: 768px) {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}
.face_about {
	@media only screen and (min-width: 768px) {
	width: 199px;
	}
}

#Otexto {
	padding:40px; margin-right:50px;

	@media only screen and (max-width: 1023px) {
		padding:40px; 
		margin-right:0px;
		width: 100%;
	}
}	

#Oabout {
	padding: 40px 0 0px 40px;

	@media only screen and (max-width: 768px) {
		padding: 40px 40px 0; 
	}
}	