h2.column.title.is-size-7 {
  margin-bottom: 19px;
  margin-top: 19px;
  max-inline-size: max-content;
}

span.follow {
	font-family: Brice-SemiBoldSemiCondensed;
	margin-top: 5px;
	margin-right: 5px;
	color: black;
	background-color: transparent;
	font-size: 0.9rem;
}

.title.profile {
	font-family: Brice-SemiBoldSemiCondensed;
}