h2.column.title.is-size-7 {
  margin-bottom: 19px;
  margin-top: 19px;
  max-inline-size: max-content;
}

span.tag.is-warning.follow {
	font-family: Brice-SemiBoldSemiCondensed;
	margin-top: 3px;
	color: black;
}

.title.profile {
	font-family: Brice-SemiBoldSemiCondensed;
}